streamlit
pandas
numpy
matplotlib
seaborn
plotly
geopandas==0.13.2  # Versión específica para mayor estabilidad
folium==0.14.0
streamlit-folium
shapely==2.0.1
pyproj==3.6.1
branca==0.6.0
requests
python-docx==0.8.11
